@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hassan El-Bardan<br />
    <abbr title="Telefonnummer">Tel.:</abbr>
    015905876180
</address>

<address>
    <strong>eMail:</strong>   <a href="mailto:bardan@htw-berlin.de">bardan@htw-berlin.de</a><br />
</address>